@page "/colourjustification/delete/{ColourJustificationId}"
@inherits ColourJustificationBasePageClass

<PageTitle>Delete @ColourJustificationSingular</PageTitle>

@if (ColourJustification is null)
{
    <LoadingMessageComponent ValueToShow="@ColourJustificationSingular" />
    return;
}

@if (PreventDeleting)
{
    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
        <h4>This @ColourJustificationSingular cannot be deleted as it is in use.</h4>
    </MudAlert>
    <br />
    <a href=@($"/{ColourJustificationPlural.ToLower()}/list{ColourJustificationPlural.ToLower()}") class="btn btn-primary">Back to list</a>
    return;
}

<MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
    <h4>Are you sure you want to delete this @ColourJustificationSingular.ToLower()?</h4>
</MudAlert>

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <ViewDeleteColourJustificationComponent ColourJustificationDetails="ColourJustification" />
            <MudCardActions>
                <button class="btn btn-danger" @onclick="DeleteColourJustificationAsync">Delete</button>
                &nbsp;
                <a class="btn btn-primary" href=@($"/{ColourJustificationPlural.ToLower()}/list{ColourJustificationPlural.ToLower()}")>Cancel</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>